.env
node_module
 node_module/
video-lecture-practice/Week 9/9.2 Typescript Intro/node_modules/typescript/lib/lib.d.ts


node_module
# video-lecture-practice/Week 9/9.2 Typescript Intro/node_modules

node_modules